LRSystemClient/Connected Services/QAWebService/QAWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetQAInfoList">
        <s:complexType />
      </s:element>
      <s:element name="GetQAInfoListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQAInfoListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveQAInfoList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveQAInfoListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveQAInfoListResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetQAInfoListSoapIn">
    <wsdl:part name="parameters" element="tns:GetQAInfoList" />
  </wsdl:message>
  <wsdl:message name="GetQAInfoListSoapOut">
    <wsdl:part name="parameters" element="tns:GetQAInfoListResponse" />
  </wsdl:message>
  <wsdl:message name="SaveQAInfoListSoapIn">
    <wsdl:part name="parameters" element="tns:SaveQAInfoList" />
  </wsdl:message>
  <wsdl:message name="SaveQAInfoListSoapOut">
    <wsdl:part name="parameters" element="tns:SaveQAInfoListResponse" />
  </wsdl:message>
  <wsdl:portType name="QAWebServiceSoap">
    <wsdl:operation name="GetQAInfoList">
      <wsdl:input message="tns:GetQAInfoListSoapIn" />
      <wsdl:output message="tns:GetQAInfoListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveQAInfoList">
      <wsdl:input message="tns:SaveQAInfoListSoapIn" />
      <wsdl:output message="tns:SaveQAInfoListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QAWebServiceSoap" type="tns:QAWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQAInfoList">
      <soap:operation soapAction="http://tempuri.org/GetQAInfoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveQAInfoList">
      <soap:operation soapAction="http://tempuri.org/SaveQAInfoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QAWebServiceSoap12" type="tns:QAWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQAInfoList">
      <soap12:operation soapAction="http://tempuri.org/GetQAInfoList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveQAInfoList">
      <soap12:operation soapAction="http://tempuri.org/SaveQAInfoList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QAWebService">
    <wsdl:port name="QAWebServiceSoap" binding="tns:QAWebServiceSoap">
      <soap:address location="http://localhost:1880/QAWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="QAWebServiceSoap12" binding="tns:QAWebServiceSoap12">
      <soap12:address location="http://localhost:1880/QAWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>